.conrainer {
  background: #ffffff;
  border-left: 1px solid var(--bs-ai-light-border);
  border-right: 1px solid var(--bs-ai-light-border);
}

.chat_input_box {
  background: var(--bs-ai-light-1);
  border-top: 1px solid var(--bs-ai-light-border);
}
